<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      <ion-title text-center>SOUTH PARK @ ASAKUSA</ion-title>
      <ion-buttons end>
        <button ion-button icon-left outline color="light" (click)="save()">
          <ion-icon name="paper"></ion-icon>
           Save
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item-group>
      <ion-item-divider color="primary">INVOICE</ion-item-divider>
      <ion-item>
        <ion-label>Invoice Date</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)]="invoiceDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Starting Amount</ion-label>
        <ion-input type="number" placeholder="Starting Amount" [(ngModel)]="startAmount" (ionChange)="checkTotal()" text-right></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>X Print taken?</ion-label>
        <ion-toggle [(ngModel)]="printTaken"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Today's Sales</ion-label>
        <ion-input type="number" placeholder="Today's Sales" [(ngModel)]="todaysSales" (ionChange)="checkTotal()"  text-right></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Total</ion-label>
        <ion-label text-right>{{total}}</ion-label>
      </ion-item>

      <!--<ion-item class="text" *ngFor="let item of items | async">
        {{item | json}}
      </ion-item>-->
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="primary">CASH IN TILL</ion-item-divider>
      <ion-item>
        Cash in TILL
        <button ion-button outline icon-left item-end (click)="addCashTill()">
          <ion-icon name="calculator"></ion-icon>
          Enter
        </button>
      </ion-item>
      <ion-item>
        <ion-label>Extra Coin/Cash available</ion-label>
        <ion-input type="number" placeholder="Extra Coin/Cash available" [(ngModel)]="extraCash" (ionChange)="calculateTotalCashTill()"  text-right></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Total Cash in TILL</ion-label>
        <ion-label text-right>{{totalCashTill}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Expenses</ion-label>
        <ion-input type="number" placeholder="Expenses" [(ngModel)]="expenses" text-right (ionChange)="checkAllExpenses()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Credit Card Payments</ion-label>
        <ion-input type="number" placeholder="Credit Card Bills" [(ngModel)]="creditCardPayments" text-right (ionChange)="checkAllExpenses()"></ion-input>
      </ion-item>
      <ion-row >
          <ion-col no-padding>
            <ion-item>
                <ion-label style="color:#999">Mistake Expenses</ion-label>
            </ion-item>
          </ion-col>
          <ion-col no-padding>
            <ion-item text-right no-padding>
              <ion-select [(ngModel)]="mistake" interface="popover" style="max-width:100%;width:100%" (ionChange)="checkAllExpenses()">
                <ion-option value="+">+</ion-option>
                <ion-option value="-">-</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col no-padding>
            <ion-item text-right no-padding>
                <ion-input type="number" placeholder="Excess/Deficient Amount" [(ngModel)]="mistakeAmount" text-right (ionChange)="checkAllExpenses()"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col no-padding>
          <ion-item >
              <ion-label style="color:#999">Cash handover to owner</ion-label>
          </ion-item>
        </ion-col>
        <ion-col no-padding>
          <ion-item text-right no-padding>
            <ion-select [(ngModel)]="cashOwner" interface="popover" style="max-width:100%;width:100%">
              <ion-option value="aju">Aju</ion-option>
              <ion-option value="ragesh">Ragesh</ion-option>
              <ion-option value="sree">Sreekumar</ion-option>
              <ion-option value="raj">UdayRaj</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col no-padding>
          <ion-item text-right no-padding>
            <ion-input type="number" placeholder="Amount" [(ngModel)]="ownerAmount" text-right (ionChange)="checkAllExpenses()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label>Total Expenses</ion-label>
        <ion-label text-right>{{totalExpenses}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Status</ion-label>
        <ion-label text-right *ngIf="getStatus()">OK</ion-label>
        <ion-label text-right *ngIf="!getStatus()">{{totalExpenses-total}} : NOT OK</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Z Print taken?</ion-label>
        <ion-toggle [(ngModel)]="ZPrintTaken"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Register Closed?</ion-label>
        <ion-toggle [(ngModel)]="regClosed"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Closing Amount</ion-label>
        <ion-label text-right>{{totalCashTill}}</ion-label>
        <!--<ion-input type="number" placeholder="Closing Amount" [(ngModel)]="closeAmount" text-right></ion-input>-->
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary">ALL EXPENSES
          <button ion-button clear icon-only item-end color="light" (click)="addDetails()">
              <ion-icon name="add-circle"></ion-icon>
            </button>
      </ion-item-divider>
      <ion-list>
        <ion-item-sliding *ngFor="let item of expenseDetails;">
          <ion-item text-wrap>
            <ion-input type="text" placeholder="Item" [(ngModel)]="item.item"></ion-input>
            <ion-input type="text" placeholder="Price" [(ngModel)]="item.price" text-right style="border-left:1px solid #dedede"></ion-input>
          </ion-item>
          <ion-item-options side="right" (ionSwipe)="removeItem(item)">
            <button ion-button expandable (click)="removeItem(item)">
              <ion-icon name="trash"></ion-icon> Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="primary">COMMENTS</ion-item-divider>
        <ion-item>
          <ion-input type="text" placeholder="Comments" [(ngModel)]="comments" ></ion-input>
        </ion-item>
    </ion-item-group>
</ion-content>
